/* PRIMARY */
/* NEUTRAL */
/* MEDIA QUERIES */
/* PADDING */
/* MEDIA QUERIES */
/* SHADOWS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  text-align: center;
}

h2 ~ p {
  padding: 0 8%;
}
@media screen and (min-width: 900px) {
  h2 ~ p {
    padding: 15px 0 25px 0;
    width: 40%;
    margin: auto;
  }
}

h2 {
  padding: 0 10%;
}

* {
  font-family: "Rubik";
}

input,
.newsletter p {
  font-size: 18px;
}

p {
  font-size: 15px;
}
@media screen and (min-width: 900px) {
  p {
    font-size: 18px;
  }
}

.cta__button,
.cta__button--soft {
  font-size: 13px;
}

p,
.cta__button,
.cta__button--soft {
  line-height: 25px;
  color: hsl(229deg, 8%, 60%);
  text-align: center;
}

section li {
  color: hsl(229deg, 8%, 60%);
  font-weight: 500;
}
section li:hover {
  color: hsl(0deg, 94%, 66%);
}

h1 {
  font-size: 30px;
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  h1 {
    font-size: 50px;
  }
}

h1,
h2,
h3 {
  color: hsl(229deg, 31%, 21%);
  text-align: center;
}

h2 {
  font-size: 22px;
  padding-bottom: 12px;
}
@media screen and (min-width: 900px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 22px;
}

.cta__button {
  padding: 9px 22px;
  background-color: hsl(231deg, 69%, 60%);
  color: white;
  font-weight: 500;
  border-radius: 5px;
  border: 2px hsl(231deg, 69%, 60%) solid;
  margin: 6px;
  display: inline-block;
  box-shadow: 0 6px 10px #d4d9f7;
  transition: background-color 300ms ease-in-out;
}
.cta__button:hover {
  background-color: white;
  color: hsl(231deg, 69%, 60%);
  border: 2px hsl(231deg, 69%, 60%) solid;
}
.cta__button--soft {
  background-color: #e3e4e8;
  color: #666666;
  border: 2px #e3e4e8 solid;
}
.cta__button--soft:hover {
  color: #485489;
  border: 2px #485489 solid;
}

.download .cards {
  padding: 50px 12%;
}
.download .cards__card {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 6px 10px #e3e4e8;
  margin-bottom: 50px;
}
.download .cards img {
  width: 100%;
  margin: auto;
}
.download .cards img.dots {
  height: 4px;
}
.download .cards h3 {
  margin: 8px;
  font-size: 18px;
}
.download .cards p {
  margin-bottom: 20px;
}
.download .cards__button {
  padding: 25px;
}
.download .cards__button a {
  font-size: 13px;
}
.download .cards .browser {
  width: 100px;
  margin: 30px 0 20px 0;
}
.download .cta__button {
  width: 85%;
  display: block;
  margin: auto;
}

@media screen and (min-width: 900px) {
  .download .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 18%;
    margin-bottom: 120px;
    height: 550px;
  }
  .download .cards__card {
    width: 280px;
  }
  .download .cards__card:first-child {
    align-self: flex-start;
  }
  .download .cards__card:last-child {
    align-self: flex-end;
  }
}
.shape {
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 4;
  background-color: hsl(231deg, 69%, 60%);
  width: 80%;
  height: 35%;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}
@media screen and (min-width: 900px) {
  .shape {
    width: 35%;
    height: 75%;
    top: 30%;
  }
}

.slider__slide .shape {
  transform: rotate(180deg);
  left: 0;
  top: 17%;
  height: 100%;
}
@media screen and (min-width: 900px) {
  .slider__slide .shape {
    top: 25%;
    width: 75%;
  }
}

.accordion {
  padding: 60px 40px 50px 40px;
}
.accordion__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: #e9eaec 2px solid;
  text-align: left;
}
.accordion__question:first-child {
  border-top: 0;
}
.accordion__question:nth-child(7) {
  border-bottom: #e9eaec 2px solid;
}
.accordion__question p {
  padding: 10px 0 0 0;
  color: hsl(229deg, 31%, 21%);
  cursor: pointer;
}
.accordion__question p:hover {
  color: hsl(0deg, 94%, 66%);
}
.accordion__question svg {
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}
.accordion__question svg path {
  transition: stroke 300ms ease-in-out;
}
.accordion__question.active svg {
  transform: rotateX(180deg);
}
.accordion__question.active svg path {
  stroke: #fa5757;
}
.accordion__answer {
  max-height: 0;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}
.accordion__answer p {
  text-align: left;
  font-size: 14px;
  padding: 15px 0 30px 0;
}

@media screen and (min-width: 900px) {
  .accordion {
    width: 48%;
    margin: auto;
  }
  .accordion__question {
    padding: 18px 0;
  }
  .accordion__question p {
    padding-top: 5px;
  }
}
.newsletter {
  background-color: hsl(231deg, 69%, 60%);
  margin-top: 150px;
  padding: 18% 6% 15% 6%;
}
.newsletter p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: white;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.newsletter h2 {
  color: white;
  padding: 0;
  margin-bottom: 30px;
}
.newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.newsletter form .email__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter input {
  display: inline-block;
  width: 300px;
  padding: 10px 20px;
  height: 50px;
  border-radius: 5px;
}
.newsletter input[type=email] {
  padding-right: 40px;
  border: white 2px solid;
}
.newsletter input[type=email].error {
  background-image: url(images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: center right 5%;
  border: hsl(0deg, 94%, 66%) 2px solid;
}
.newsletter input[type=submit] {
  background-color: hsl(0deg, 94%, 66%);
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  border: hsl(0deg, 94%, 66%) 2px solid;
  transition: all 300ms ease-in-out;
}
.newsletter input[type=submit]:hover {
  background-color: white;
  color: hsl(0deg, 94%, 66%);
}
.newsletter input::placeholder {
  color: hsl(229deg, 8%, 60%);
  font-size: 14px;
}
.newsletter #error-msg {
  display: none;
  color: white;
  background-color: hsl(0deg, 94%, 66%);
  width: 100%;
  font-size: 10px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  padding: 6px 10px;
  height: calc(100% + 5px);
  margin-top: -6px;
  border-radius: 0 0 5px 5px;
}
.newsletter #error-msg.shown {
  display: block;
}

@media screen and (min-width: 900px) {
  .newsletter {
    margin-top: 180px;
    padding: 80px 0;
  }
  .newsletter h2 {
    padding: 32px 35%;
    margin-bottom: 0;
  }
  .newsletter p {
    font-size: 13px;
    margin-bottom: 0;
  }
  .newsletter form {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 35%;
  }
  .newsletter .email__container {
    height: 50px;
  }
  .newsletter input[type=email] {
    flex: 2;
  }
  .newsletter input[type=submit] {
    flex: 1;
    margin-top: 0;
    margin-left: 15px;
  }
}
header {
  text-align: center;
  margin: 50px 0 135px 0;
  padding-top: 80%;
  /*SHAPE RELATIVE*/
  position: relative;
}
header img {
  width: 95%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
header h1 {
  padding: 0 10%;
}
header p {
  padding: 20px 10% 25px 10%;
}

/*DESKTOP VERSION*/
@media screen and (min-width: 900px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }
  header h1,
header p,
header .cta {
    text-align: left;
    padding: 20px 8%;
  }
  header img {
    position: relative;
    width: auto;
  }
}
#menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12% 10% 12% 10%;
  height: 0;
  transition: all 400ms ease-in-out;
  text-align: center;
  background-color: white;
}
#menu .menu__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu .menu__icons svg path {
  transition: fill 300ms ease-in-out;
}
#menu .menu__icons svg circle {
  transition: fill 300ms ease-in-out;
}
#menu .menu__icons svg g g path {
  transition: fill 300ms ease-in-out;
}
#menu ul {
  display: none;
  flex-direction: column;
  margin-top: 35px;
}
#menu ul li,
#menu ul a {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
}
#menu ul li {
  font-weight: 400;
  padding: 25px;
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}
#menu ul li:nth-child(3) {
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
  margin-bottom: 30px;
}
#menu ul button {
  background-color: transparent;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: white 2.5px solid;
}
#menu ul button a {
  font-weight: 500;
}
#menu.active {
  background-color: rgba(37, 43, 70, 0.9);
  height: 100vh;
}
#menu.active ul {
  display: flex;
}
#menu.active #burger span {
  background-color: transparent;
}
#menu.active #burger span::before {
  transform: rotateZ(-45deg);
  background-color: white;
}
#menu.active #burger span::after {
  transform: rotateZ(45deg);
  background-color: white;
}
#menu.active svg path {
  fill: white;
}
#menu.active svg circle {
  fill: white;
}
#menu.active svg g g path {
  fill: #3a3f58;
}

#burger {
  cursor: pointer;
  width: 20px;
  height: 30px;
  border: 0;
  position: relative;
  background-color: transparent;
}
#burger span {
  background-color: black;
  height: 3px;
  width: 100%;
  display: block;
  transition: background-color 200ms ease-in-out;
}
#burger span::after, #burger span::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 400ms ease-in-out;
}
#burger span::after {
  content: "";
  transform: translateY(-6px);
}
#burger span::before {
  content: "";
  transform: translateY(6px);
}
#burger.active span {
  background-color: transparent;
}
#burger.active span::before {
  transform: rotateZ(-45deg);
  background-color: white;
}
#burger.active span::after {
  transform: rotateZ(45deg);
  background-color: white;
}

/* DESKTOP */
@media screen and (min-width: 900px) {
  #menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 8%;
  }
  #menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }
  #menu ul li {
    cursor: pointer;
    padding: 0 30px;
    font-size: 13px;
    color: hsl(229deg, 31%, 21%);
    border: 0;
    transition: color 300ms ease-in-out;
  }
  #menu ul li:nth-child(3) {
    margin: 0;
  }
  #menu ul li:hover {
    color: hsl(0deg, 94%, 66%);
  }
  #menu ul img {
    height: 25px;
  }
  #menu ul button {
    cursor: pointer;
    display: inline-block;
    background-color: hsl(0deg, 94%, 66%);
    padding: 12px 30px;
    margin-left: 20px;
    border-radius: 5px;
    border: hsl(0deg, 94%, 66%) 2px solid;
    box-shadow: 0 6px 10px rgba(145, 148, 161, 0.3);
    transition: all 300ms ease-in-out;
  }
  #menu ul button a {
    font-size: 13px;
    font-weight: 500;
    transition: color 200ms ease-in-out;
  }
  #menu ul button:hover {
    background-color: transparent;
    border: hsl(0deg, 94%, 66%) 2px solid;
  }
  #menu ul button:hover a {
    color: hsl(0deg, 94%, 66%);
  }
  #burger {
    display: none;
  }
}
.slider__container {
  margin-bottom: 15px;
}

.slider__menu {
  padding: 35px 8% 70px 8%;
}
.slider__menu li {
  position: relative;
  padding: 20px;
  border-top: #e3e4e8 1px solid;
  transition: color 300ms ease-in-out;
}
.slider__menu li:last-child {
  border-bottom: #e3e4e8 1px solid;
}
.slider__menu li::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  content: "";
  width: 0;
  transition: all 300ms ease-in-out;
  height: 4px;
  background-color: hsl(0deg, 94%, 66%);
}
.slider__menu li.active {
  color: #464953;
}
.slider__menu li.active::after {
  width: 130px;
}

.slider__slide {
  display: none;
  flex-direction: column;
}
.slider__slide .flex-img {
  /* SHAPE RELATIVE */
  position: relative;
}
.slider__slide .flex-img img {
  width: 85%;
  z-index: 5;
  position: relative;
}
.slider__slide .flex-text {
  padding: 22% 8% 130px 8%;
}
.slider__slide .flex-text p {
  padding: 0;
}
.slider__slide .flex-text h3 {
  padding-bottom: 12px;
}
.slider__slide.shown {
  display: flex;
}
.slider__slide .cta__button {
  display: none;
}

@media screen and (min-width: 900px) {
  .slider__menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .slider__menu li {
    border-top: 0;
    border-bottom: #e3e4e8 1px solid;
    padding-left: 50px;
    padding-right: 50px;
  }
  .slider__menu li.active::after {
    width: 100%;
  }
  .slider__slide {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 200px;
  }
  .slider__slide .flex-text {
    padding: 0;
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .slider__slide .flex-text h3 {
    font-size: 30px;
  }
  .slider__slide .flex-text p {
    text-align: left;
    margin: 20px 0 30px 0;
    font-size: 16px;
    width: 60%;
  }
  .slider__slide .flex-text a {
    margin: 0;
  }
  .slider__slide .flex-img {
    flex: 1.2;
  }
  .slider__slide .flex-img img {
    width: 65%;
  }
  .slider__slide .cta__button {
    display: inline-block;
  }
}
footer {
  background-color: hsl(229deg, 31%, 21%);
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
footer .menu {
  margin: 15px 0;
}
footer .menu svg path {
  fill: white;
}
footer li {
  text-transform: uppercase;
  color: #acafb9;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 35px 0;
  font-weight: 500;
  cursor: pointer;
}
footer li:hover {
  color: hsl(0deg, 94%, 66%);
}

#social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* SOCIALS DANS LE MENU MOBILE */
}
#social svg {
  margin: 0 20px;
}
#social svg path {
  transition: fill 300ms ease-in-out;
}
#social svg path:hover {
  fill: hsl(0deg, 94%, 66%);
}
#social.active {
  position: fixed;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 900px) {
  footer {
    flex-direction: row;
    padding: 35px 150px;
  }
  footer .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
  footer .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer .menu li {
    margin: 0 25px;
  }
}

/*# sourceMappingURL=style.css.map */
