/* PRIMARY */
/* NEUTRAL */
/* MEDIA QUERIES */
/* PADDING */
/* MEDIA QUERIES */
/* SHADOWS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  text-align: center;
}

p {
  padding: 0 8%;
}

h2 {
  padding: 0 10%;
}

* {
  font-family: "Rubik";
}

input,
.newsletter p {
  font-size: 18px;
}

p {
  font-size: 15px;
}

.cta__button, .cta__button--soft {
  font-size: 13px;
}

p,
.cta__button,
.cta__button--soft {
  line-height: 25px;
  color: hsl(229deg, 8%, 60%);
  text-align: center;
}

section li {
  color: hsl(229deg, 8%, 60%);
  font-weight: 500;
}
section li:hover {
  color: #464953;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

h1, h2, h3 {
  color: hsl(229deg, 31%, 21%);
  text-align: center;
}

h2 {
  font-size: 22px;
  padding-bottom: 12px;
}

h3 {
  font-size: 22px;
}

.cta__button {
  padding: 9px 22px;
  background-color: hsl(231deg, 69%, 60%);
  color: white;
  font-weight: 500;
  border-radius: 5px;
  border: 2px hsl(231deg, 69%, 60%) solid;
  margin: 6px;
  display: inline-block;
  box-shadow: 0 6px 10px #d4d9f7;
  transition: background-color 300ms ease-in-out;
}
.cta__button:hover {
  background-color: white;
  color: hsl(231deg, 69%, 60%);
  border: 2px hsl(231deg, 69%, 60%) solid;
}
.cta__button--soft {
  background-color: #e3e4e8;
  color: #666666;
  border: 2px #e3e4e8 solid;
}
.cta__button--soft:hover {
  color: #485489;
  border: 2px #485489 solid;
}

.download .cards {
  padding: 50px 12%;
}
.download .cards__card {
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 6px 10px #e3e4e8;
  margin-bottom: 50px;
}
.download .cards img {
  width: 100%;
  margin: auto;
}
.download .cards img.dots {
  height: 4px;
}
.download .cards h3 {
  margin: 8px;
  font-size: 18px;
}
.download .cards p {
  margin-bottom: 20px;
}
.download .cards__button {
  padding: 25px;
}
.download .cards__button a {
  font-size: 13px;
}
.download .cards .browser {
  width: 100px;
  margin: 30px 0 20px 0;
}
.download .cta__button {
  width: 85%;
  display: block;
  margin: auto;
}

.shape {
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 4;
  background-color: hsl(231deg, 69%, 60%);
  width: 80%;
  height: 35%;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.accordion {
  padding: 60px 40px 40px 40px;
}
.accordion__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-top: #e9eaec 2px solid;
  text-align: left;
}
.accordion__question:first-child {
  border-top: 0;
}
.accordion__question:nth-child(7) {
  border-bottom: #e9eaec 2px solid;
}
.accordion__question p {
  padding: 10px 0 0 0;
  color: hsl(229deg, 31%, 21%);
}
.accordion__question img {
  width: 15px;
  height: 10px;
  transition: transform 300ms ease-in-out;
}
.accordion__question.active img {
  transform: rotateX(180deg);
}
.accordion__answer {
  max-height: 0;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}
.accordion__answer p {
  text-align: left;
  font-size: 14px;
  padding: 15px 0 30px 0;
}

.newsletter {
  background-color: hsl(231deg, 69%, 60%);
  margin-top: 120px;
  padding: 18% 6% 15% 6%;
}
.newsletter p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: white;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.newsletter h2 {
  font-size: 22px;
  color: white;
  padding: 0;
  margin-bottom: 30px;
}
.newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.newsletter input {
  display: inline-block;
  width: 90%;
  padding: 10px 20px;
  height: 50px;
  border-radius: 5px;
  border: 0;
}
.newsletter input[type=email].error {
  background-image: url(images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: center right 5%;
  border: hsl(0deg, 94%, 66%) 2px solid;
}
.newsletter input[type=email]::after {
  content: "";
  position: relative;
  background-color: hsl(0deg, 94%, 66%);
  top: 50px;
  height: 50px;
  width: 100%;
}
.newsletter input[type=submit] {
  background-color: hsl(0deg, 94%, 66%);
  color: white;
  font-size: 14px;
  padding: 15px !important;
  font-weight: 500;
  margin-top: 15px;
}
.newsletter input::placeholder {
  color: hsl(229deg, 8%, 60%);
  font-size: 14px;
}
.newsletter #error-msg {
  display: none;
  color: white;
  background-color: hsl(0deg, 94%, 66%);
  width: 90%;
  font-size: 10px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  padding: 6px 10px;
  height: calc(100% + 5px);
  margin-top: -6px;
  border-radius: 0 0 5px 5px;
}
.newsletter #error-msg.shown {
  display: block;
}

header {
  text-align: center;
  margin: 50px 0 135px 0;
  padding-top: 80%;
  /*SHAPE RELATIVE*/
  position: relative;
}
header img {
  width: 95%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
header h1 {
  padding: 0 10%;
}
header p {
  padding: 20px 10% 25px 10%;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12% 10% 12% 10%;
  height: 0;
  transition: all 400ms ease-in-out;
  text-align: center;
  background-color: white;
}
#menu .menu__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu ul {
  display: none;
  flex-direction: column;
  margin-top: 35px;
}
#menu ul li,
#menu ul a {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
}
#menu ul li {
  font-weight: 400;
  padding: 25px;
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}
#menu ul li:nth-child(3) {
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
  margin-bottom: 30px;
}
#menu ul button {
  background-color: transparent;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: white 2.5px solid;
}
#menu ul button a {
  font-weight: 500;
}
#menu img {
  align-self: center;
}
#menu.active {
  background-color: rgba(37, 43, 70, 0.9);
  height: 100vh;
}
#menu.active ul {
  display: flex;
}
#menu.active #burger span {
  background-color: transparent;
}
#menu.active #burger span::before {
  transform: rotateZ(-45deg);
  background-color: white;
}
#menu.active #burger span::after {
  transform: rotateZ(45deg);
  background-color: white;
}
#menu.active img {
  filter: brightness(100);
}

#burger {
  cursor: pointer;
  width: 20px;
  height: 30px;
  border: 0;
  position: relative;
  background-color: transparent;
}
#burger span {
  background-color: black;
  height: 3px;
  width: 100%;
  display: block;
  transition: background-color 200ms ease-in-out;
}
#burger span::after, #burger span::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 400ms ease-in-out;
}
#burger span::after {
  content: "";
  transform: translateY(-6px);
}
#burger span::before {
  content: "";
  transform: translateY(6px);
}
#burger.active span {
  background-color: transparent;
}
#burger.active span::before {
  transform: rotateZ(-45deg);
  background-color: white;
}
#burger.active span::after {
  transform: rotateZ(45deg);
  background-color: white;
}

/* DESKTOP */
@media screen and (min-width: 900px) {
  #menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 8%;
  }
  #menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }
  #menu ul li {
    padding: 0 30px;
    font-size: 13px;
    color: hsl(229deg, 31%, 21%);
    border: 0;
  }
  #menu ul li:nth-child(3) {
    margin: 0;
  }
  #menu ul img {
    height: 25px;
  }
  #menu ul button {
    display: inline-block;
    background-color: hsl(0deg, 94%, 66%);
    padding: 12px 30px;
    margin-left: 20px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 6px 10px rgba(145, 148, 161, 0.3);
  }
  #menu ul button a {
    font-size: 13px;
    font-weight: 500;
  }
  #burger {
    display: none;
  }
}
.slider__menu {
  padding: 35px 8% 70px 8%;
}
.slider__menu li {
  position: relative;
  padding: 20px;
  border-top: #e3e4e8 1px solid;
  transition: color 300ms ease-in-out;
}
.slider__menu li:last-child {
  border-bottom: #e3e4e8 1px solid;
}
.slider__menu li::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  content: "";
  width: 0;
  transition: width 300ms ease-in-out;
  height: 4px;
  background-color: hsl(0deg, 94%, 66%);
}
.slider__menu li.active::after {
  width: 130px;
}

.slider__slide {
  display: none;
  flex-direction: column;
}
.slider__slide .flex-img {
  /* SHAPE RELATIVE */
  position: relative;
}
.slider__slide .flex-img img {
  width: 85%;
  z-index: 5;
  position: relative;
}
.slider__slide .flex-img .shape {
  transform: rotate(180deg);
  left: 0;
  top: 17%;
  height: 100%;
}
.slider__slide .flex-text {
  padding: 22% 8% 130px 8%;
}
.slider__slide .flex-text p {
  padding: 0;
}
.slider__slide .flex-text h3 {
  padding-bottom: 12px;
}
.slider__slide .flex-text .cta__button {
  display: none;
}
.slider__slide.shown {
  display: flex;
}

/* DESKTOP */
@media screen and (min-width: 900px) {
  .slider__slide .cta__button {
    display: inline-block;
  }
}

footer {
  background-color: hsl(229deg, 31%, 21%);
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
footer .menu img {
  filter: brightness(100);
}
footer li {
  text-transform: uppercase;
  color: #acafb9;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 35px 0;
  font-weight: 500;
}

#social {
  /* SOCIALS DANS LE MENU MOBILE */
}
#social img {
  padding: 15px;
}
#social.active {
  position: fixed;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
}
#social.active a:first-child {
  padding-right: 35px;
}

/*# sourceMappingURL=style.css.map */
