*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
section {
    text-align: center;
}
p{
    padding: 0 map-get($paddingX, small);
}
h2{
    padding: 0 map-get($paddingX, wide);

}
