@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  font-family: "Rubik";
}

input,
.newsletter p {
  font-size: 18px;
}
p{
  font-size: 15px;
}
.cta__button, .cta__button--soft{
  font-size: 13px;

}
p,
.cta__button,
.cta__button--soft {
  line-height: 25px;
  color: $grayish-blue;
  text-align: center;
}

section li {
  color: $grayish-blue;
  font-weight: 500;
  &:hover{
    color: darken($grayish-blue, 30);
  }
}
h1 {
  font-size: 30px;
  font-weight: 500;
}
h1, h2, h3 {
    color: $very-dark-blue;
    text-align: center;
}
h2{
    font-size: 22px;
    padding-bottom: 12px;
}
h3{
  font-size: 22px;
}
