footer{
  background-color: $very-dark-blue;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  .menu{
    img{
      filter: brightness(100);
    }
  }
  li{
    text-transform: uppercase;
    color: lighten($grayish-blue,10);
    font-size: 14px;
    letter-spacing: 2px;
    margin: 35px 0;
    font-weight: 500;
  }
}
#social {
  img{
    padding: 15px;
  }
/* SOCIALS DANS LE MENU MOBILE */
  &.active{
    position: fixed;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
    a:first-child {
      padding-right: 35px;
    }
  }
}
