#menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12% 10% 12% 10%;
  height: 0;
  transition: all 400ms ease-in-out;
  text-align: center;
  background-color: white;
  .menu__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      path {
        transition: fill 300ms ease-in-out;
      }
      circle {
        transition: fill 300ms ease-in-out;
      }
      g g path {
        transition: fill 300ms ease-in-out;
      }
    }
  }
  ul {
    display: none;
    flex-direction: column;
    margin-top: 35px;
    li,
    a {
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      color: white;
    }
    li {
      font-weight: 400;
      padding: 25px;
      border-top: rgba(white, 0.2) 1px solid;
      &:nth-child(3) {
        border-bottom: rgba(white, 0.2) 1px solid;
        margin-bottom: 30px;
      }
    }
    button {
      background-color: transparent;
      width: 100%;
      padding: 12px;
      border-radius: 5px;
      border: white 2.5px solid;
      a {
        font-weight: 500;
      }
    }
  }
  &.active {
    background-color: rgba($very-dark-blue, 0.9);
    height: 100vh;
    ul {
      display: flex;
    }
    #burger {
      span {
        background-color: transparent;
      }

      span::before {
        transform: rotateZ(-45deg);
        background-color: white;
      }
      span::after {
        transform: rotateZ(45deg);
        background-color: white;
      }
    }
    svg {
      path {
        fill: white;
      }
      circle {
        fill: white;
      }
      g g path {
        fill: #3a3f58;
      }
    }
  }
}

#burger {
  cursor: pointer;
  width: 20px;
  height: 30px;
  border: 0;
  position: relative;
  background-color: transparent;
  span {
    background-color: black;
    height: 3px;
    width: 100%;
    display: block;
    transition: background-color 200ms ease-in-out;
    &::after,
    &::before {
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      background-color: black;
      transition: all 400ms ease-in-out;
    }
    &::after {
      content: "";
      transform: translateY(-6px);
    }
    &::before {
      content: "";
      transform: translateY(6px);
    }
  }
  &.active {
    span {
      background-color: transparent;
    }

    span::before {
      transform: rotateZ(-45deg);
      background-color: white;
    }
    span::after {
      transform: rotateZ(45deg);
      background-color: white;
    }
  }
}

/* DESKTOP */
@media screen and (min-width: $desktop-size) {
  #menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 8%;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      li {
        cursor: pointer;
        padding: 0 30px;
        font-size: 13px;
        color: $very-dark-blue;
        border: 0;
        transition: color 300ms ease-in-out;
        &:nth-child(3) {
          margin: 0;
        }
        &:hover {
          color: $soft-red;
        }
      }
      img {
        height: 25px;
      }
      button {
        cursor: pointer;
        display: inline-block;
        background-color: $soft-red;
        padding: 12px 30px;
        margin-left: 20px;
        border-radius: 5px;
        border: $soft-red 2px solid;
        @include shadow(rgba($grayish-blue, 0.3));
        a {
          font-size: 13px;
          font-weight: 500;
          transition: color 200ms ease-in-out;
        }
        transition: all 300ms ease-in-out;
        &:hover {
          background-color: transparent;
          border: $soft-red 2px solid;
          a {
            color: $soft-red;
          }
        }
      }
    }
  }
  #burger {
    display: none;
  }
}
