.newsletter{
  background-color: $soft-blue;
  margin-top: 150px;
  padding: 18% 6% 15% 6%;
  p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color:white;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  h2{
    color: white;
    padding: 0;
    margin-bottom: 30px;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .email__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  input{
    display: inline-block;
    width: 300px;
    padding: 10px 20px;
    height: 50px;
    border-radius: 5px;
    &[type="email"]{
      padding-right: 40px;
      border: white 2px solid;
      &.error{
        background-image: url(images/icon-error.svg);
        background-repeat: no-repeat;
        background-position: center right 5%;
        border: $soft-red 2px solid;
      }
    }
    &[type="submit"]{
      background-color: $soft-red;
      color: white;
      font-size: 14px;
      font-weight: 500;
      margin-top: 15px;
      border: $soft-red 2px solid;
      transition: all 300ms ease-in-out;
      &:hover{
        background-color: white;
        color: $soft-red;
      }

    }
    &::placeholder{
      color: $grayish-blue;
      font-size: 14px;
    }
  }
  #error-msg{
    display: none;
    color: white;
    background-color: $soft-red;
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    padding: 6px 10px;
    height: calc(100% + 5px);
    margin-top: -6px;
    border-radius: 0 0 5px 5px;
    &.shown{
      display: block;
    }
  }  
}

@media screen and (min-width:$desktop-size) {
  .newsletter{
    margin-top: 180px;
    padding: 80px 0;
    h2{
      padding: 32px 35%;
      margin-bottom: 0;
    }
    p{
      font-size: 13px;
      margin-bottom: 0;
    }
    form{
      flex-direction: row;
      align-items: flex-start;
      padding:0 35%;
    }
    .email__container{
      height: 50px;
    }
    input{
      &[type="email"]{
        flex:2;  
      }
      &[type="submit"]{
        flex:1;
        margin-top: 0;
        margin-left: 15px;
      }
    }
  }

}