.slider__container {
  margin-bottom: 15px;
}
.slider__menu {
  padding: 35px map-get($paddingX, small) 70px map-get($paddingX, small);
  li {
    position: relative;
    padding: 20px;
    border-top: lighten($grayish-blue, 30) 1px solid;
    transition: color 300ms ease-in-out;
    &:last-child {
      border-bottom: lighten($grayish-blue, 30) 1px solid;
    }
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      display: block;
      content: "";
      width: 0;
      transition: all 300ms ease-in-out;
      height: 4px;
      background-color: $soft-red;
    }
    &.active {
      color: darken($grayish-blue, 30);
      &::after {
        width: 130px;
      }
    }
  }
}
.slider__slide {
  display: none;
  flex-direction: column;
  .flex-img {
    /* SHAPE RELATIVE */
    position: relative;
    img {
      width: 85%;
      z-index: 5;
      position: relative;
    }
  }
  .flex-text {
    padding: 22% map-get($paddingX, small) 130px map-get($paddingX, small);
    p {
      padding: 0;
    }
    h3 {
      padding-bottom: 12px;
    }
  }
  &.shown {
    display: flex;
  }
  .cta__button {
    display: none;
  }
}

@media screen and (min-width: $desktop-size) {
  .slider__menu {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    li {
      border-top: 0;
      border-bottom: lighten($grayish-blue, 30) 1px solid;
      padding-left: 50px;
      padding-right: 50px;
      &.active {
        &::after {
          width: 100%;
        }
      }
    }
  }
  .slider__slide {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 200px;
    .flex-text {
      padding: 0;
      flex: 0.8;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      h3 {
        font-size: 30px;
      }
      p {
        text-align: left;
        margin: 20px 0 30px 0;
        font-size: 16px;
        width: 60%;
      }
      a {
        margin: 0;
      }
    }
    .flex-img {
      flex: 1.2;
      img {
        width: 65%;
      }
    }
    .cta__button {
      display: inline-block;
    }
  }
}
