.download{
  .cards{
    padding: 50px map-get($paddingX, extra);
    &__card{
      text-align: center;
      border-radius: 15px;
      @include shadow(lighten($grayish-blue,30));
      margin-bottom: 50px;
    }
    img{
      width: 100%;
      margin: auto;
      &.dots{
        height: 4px;
      }
    }
    h3{
      margin: 8px;
      font-size: 18px;
    }
    p{
      margin-bottom: 20px;
    }
    &__button{
      padding: 25px;
      a{
        font-size: 13px;

      }
    }
    .browser{
      width: 100px;
      margin: 30px 0 20px 0;
    }
  }
  .cta__button{
    width: calc(85%);
    display: block;
    margin: auto;
  }
}
