/* PRIMARY */
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

/* NEUTRAL */
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

/* MEDIA QUERIES */
$desktop-size:900px;

/* PADDING */
$paddingX:(
  extra:12%,
  wide:10%,
  small:8%,
  mini:6%
);
